@tailwind base;

@tailwind components;

@tailwind utilities;
/* In your global.css or component-specific CSS */
html, body {
    overflow: auto; /* Allow scrolling for the page */
    height: 100%;  /* Ensure the page uses full height */
  }
  
  /* Style the scrollbar container */
  ::-webkit-scrollbar {
    width: 0px;
    height: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #bdbdbd;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #8f7c7c;
    cursor: all-scroll;
  }
  

  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }